<div class="se-pre-con"></div>
<div class="headline">
  <img id="centerimage" src="/img/spot-dash-logo.png" alt="Smiley face" width="500" /><p>Spot Dash displays the highest priority spots for potential new bike racks in Seattle.</p>
</div>
<b id="centerimagetext">LISTED BY PRIORITY</b>


<ul class="collapsible">
  <% docs.forEach(function(data) { %>
  <li>
    <div class="collapsible-header">
    <img class="pin" src="/img/pin.png" alt="Smiley face" /><b id="left"><%= data.name %></b>
      <div id="center">
        <%= data.details.location.display_address %>
      </div>
      <div id="right">
        Nearest Bike Rack: <a style="color: orange"><%= Math.round(data.distances[0].distance) %></a> ft
      </div>
    </div>

    <div class="collapsible-body">
      <div class="article-container">
        <h6>Ratings</h6>
        <p style="color: orange">
          <%= data.ratings %> Yelp Reviews
        </p>
        <h6>Categories</h6>
        <ul>
          <% data.details.categories.forEach(function(category) { %>
          <li>
            <%= category.title %>
          </li>
          <% }); %>
          <div id="<%= data._id %>" class="mapbox">
          </div>
          <script>
              document.addEventListener('DOMContentLoaded', function(event) {
                const lng = <%= data.details.coordinates.longitude %>;
                const lat = <%= data.details.coordinates.latitude %>;
                mapboxgl.accessToken =
                  'pk.eyJ1IjoiamFtZXNsaXVkb3RjYyIsImEiOiJjanFta3huaDIwMGNhM3hxcWo4ZHFnb2Z6In0.7eRY7YP4uy2VtF3ovcJeuw';
                var map = new mapboxgl.Map({
                  container: '<%= data._id %>', // container id
                  style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
                  center: [lng, lat], // starting position [lng, lat]
                  zoom: 15, // starting zoom
                });
                map.on('load', function() {
                  map.loadImage(
                    '/img/pin.png',
                    function(error, image) {
                      if (error) throw error;
                      map.addImage('marker', image);
                      map.addLayer({
                        id: 'points',
                        type: 'symbol',
                        source: {
                          type: 'geojson',
                          data: {
                            type: 'FeatureCollection',
                            features: [
                              {
                                type: 'Feature',
                                geometry: {
                                  type: 'Point',
                                  coordinates: [lng, lat],
                                },
                              },
                            ],
                          },
                        },
                        layout: {
                          'icon-image': 'marker',
                          'icon-size': .5,
                        },
                      });
                    }
                  );
                });
              });
            </script>
        </ul>
      </div>
    </div>
  </li>

  <% }); %>
</ul>

<ul class="pagination">
  <li class="waves-effect">
    <i class="material-icons">chevron_left</i>
  </li>
  
  <% for (i = 1; i <= 20; i++) { %>
  <li class=
  <%= i===currentPage ? "active" : "waves-effect" %>
  ><a href="/main/<%= (i-1)*10 %>"> <%= i %></a></li>
  <% } %>
  <li class="waves-effect">
    <i class="material-icons">chevron_right</i>
  </li>
</ul>

